.group-5,
.group-5 * {
  box-sizing: border-box;
}
.group-5 {
  height: 954px;
  position: relative;
}
.image-2 {
  width: 1920px;
  height: 954px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1920/954;
}
.group-4 {
  width: 500px;
  height: 826px;
  position: static;
}
.alarm_big-box-5 {
  background: #f1f1f1;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 329px;
  height: 794px;
  position: absolute;
  left: 637px;
  top: 36px;
}
.alarm_167 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 51px;
}
.alarm_168 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 86px;
}
.alarm_169 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 121px;
}
.alarm_170 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 156px;
}
.alarm_171 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 191px;
}
.alarm_172 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 226px;
}
.alarm_173 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 261px;
}
.alarm_174 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 296px;
}
.alarm_175 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 331px;
}
.alarm_176 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 366px;
}
.alarm_177 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 401px;
}
.alarm_178 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 436px;
}
.alarm_179 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 471px;
}
.alarm_180 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 506px;
}
.alarm_181 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 541px;
}
.alarm_182 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 576px;
}
.alarm_183 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 611px;
}
.alarm_184 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 646px;
}
.alarm_185 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 681px;
}
.alarm_186 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 716px;
}
.alarm_187 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 751px;
}
.alarm_188 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 646px;
  top: 786px;
}
.alarm_189 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 805px;
  top: 51px;
}
.alarm_190 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 805px;
  top: 86px;
}
.alarm_191 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 805px;
  top: 121px;
}
.alarm_192 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 805px;
  top: 156px;
}
.alarm_193 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 805px;
  top: 191px;
}
.alarm_194 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 805px;
  top: 226px;
}
.alarm_195 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 805px;
  top: 261px;
}
.alarm_196 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 805px;
  top: 296px;
}
.alarm_197 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 805px;
  top: 331px;
}
.alarm_198 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 805px;
  top: 366px;
}
.alarm_199 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 805px;
  top: 401px;
}
.alarm_200 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 805px;
  top: 436px;
}
.alarm_201 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 805px;
  top: 471px;
}
.alarm_202 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 805px;
  top: 506px;
}
.alarm_203 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 805px;
  top: 541px;
}
.alarm_204 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 805px;
  top: 576px;
}
.alarm_big-box-6 {
  background: #f1f1f1;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 168px;
  height: 794px;
  position: absolute;
  left: 969px;
  top: 36px;
}
.alarm_205 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 977px;
  top: 51px;
}
.alarm_206 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 977px;
  top: 86px;
}
.alarm_207 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 977px;
  top: 121px;
}
.alarm_208 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 977px;
  top: 156px;
}
.alarm_209 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 977px;
  top: 191px;
}
.alarm_210 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 977px;
  top: 226px;
}
.alarm_211 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 977px;
  top: 261px;
}
.alarm_212 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 977px;
  top: 296px;
}
.alarm_213 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 977px;
  top: 331px;
}
.alarm_214 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 977px;
  top: 366px;
}
.alarm_215 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 977px;
  top: 401px;
}
.alarm_216 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 977px;
  top: 436px;
}
.alarm_217 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 977px;
  top: 471px;
}
.alarm_218 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 977px;
  top: 506px;
}
.alarm_219 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 977px;
  top: 541px;
}
.alarm_220 {
  background: #c3c3c3;
  border-radius: 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 152px;
  height: 34px;
  position: absolute;
  left: 977px;
  top: 576px;
}
.wm {
  background: #e2ce98;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 329px;
  height: 30px;
  position: absolute;
  left: 637px;
  top: 4px;
}
.tf {
  background: #e2ce98;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 168px;
  height: 30px;
  position: absolute;
  left: 969px;
  top: 4px;
}
